
/*logo*/
.cont-logo-medias{
  margin-top: 18px;
  padding: 0 7.9%;
  display: flex;
  justify-content: space-between;
}
.social-medias>h1{
  text-align: center;
  font-size: 21px;
  color: #c42032;
  font-family: 'Myriad Pro', serif;
}
.social-medias>h6{
  font-size: 11px;
  color: #00749a;
  text-align: center;
  font-family: 'Myriad Pro', serif;
  font-weight: normal;
}
.social-icon{
  display: flex;
  justify-content: space-between;
}
.social-icon i{
  color: #1b83a5;
}
.contact-button{
  position: absolute;
  right: -81px;
  top: 333px;
  width: 210px;
  height: 47px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border: none;
  background-color: #c42032;
  color: #fff;
  font-weight: bold;
   transform:rotate(-7deg);
   -ms-transform:rotate(-90deg); /* IE 9 */
   -moz-transform:rotate(-90deg); /* Firefox */
   -webkit-transform:rotate(-90deg); /* Safari and Chrome */
   -o-transform:rotate(-90deg); /* Opera */
}

/*navbar css*/
.xs-phone-contact{
  margin-left: 2rem;
  float: left;
  color: #fff;
  margin-top: 8px;
}
.xs-phone-contact span{
  font-size: 10px;
  margin-left: 7px;
}
.navbar-default{
margin-top: 25px;
background-color: #1b83a5;
border-radius: 0;
box-shadow: 0px 3px 2px #a5a5a5;
border: none;
}
.navbar-nav{
  float: none;
  margin: 7px auto;
  display: table;
}
.navbar-default .navbar-nav > li > a{
  color: #ffffff;
  font-size: 14.46px;
  border-left: 1px solid #00749a;
  border-right: 1px solid #00749a;
  height: 40px;
}
.navbar-nav > li > a {
    padding-top: 10px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 11px 25px;
}

/*body*/
.workers{
  z-index: -1;
  margin-bottom: -125px;
}
.workers-why-us{
  margin-top: 50px;
}
.why-us-p{
  margin-top: 100px;
  margin-left: 1vw;
}
.why-us-p>h2{
  font-size: 36px;
  color: #1b83a5;
  font-family: 'Libre Baskerville', serif;
}
.why-us-p>p{
  font-size: 16px;
  color: #5f6a72;
  font-family: 'Myriad Pro', serif;
}
.logos{
  background-color: #a3def1;
  padding-top: 32px;
  padding-bottom: 32px;
}
.logos-position{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.places{
  display: flex;
}
.place1, .place2, .place4, .place5{
  width: 22%;
}
.place3{
  width: 12%;
}
/*carousel*/
#myCarousel{
  display: none;
}

.logo1, .logo2, .logo3, .logo4{
  height: 50%;
}
.lorem-cont{
  margin-top: 62px;
}
.lorem-p{
  width: 40%;
}
.lorem-p>h2{
  font-size: 36px;
  color: #1b83a5;
  font-family: 'Libre Baskerville', serif;
}
.lorem-p>p{
  font-size: 16px;
  color: #5f6a72;
  font-family: 'Myriad Pro', serif;
}
.lorem-img{
  width: 50%;
  float: right;
  margin-top: -220px;
  max-width: 900px;
}
.lorem-img-cont{
  position: relative;
  z-index: -1;
}

/*fomr*/
.pError {
    color: #fff;
    font-size: 10px;
}
.form-cont{
  background-color: #157ea1;
  margin-top: 112px;
  padding-bottom: 50px;
  box-shadow: 0px 0px 3px 2px #a5a5a5;
}
#contact-form input,#contact-form textarea {
  background-color: transparent;
  font-size: 14.96pt;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
.form-contactUs{
  margin-top: 35px;
  font-size: 32.57pt;
  font-family: 'Libre Baskerville', serif;
  color: #fff;
  margin-bottom: 40px;
}
textarea.form-control{
    height: 42px !important;
}
textarea {
	resize: none;
}
.form-label {
	font-size: 12px;
	color: #fff;
	margin: 0;
	display: block;
	opacity: 1;
	-webkit-transition: .333s ease top, .333s ease opacity;
	transition: .333s ease top, .333s ease opacity;
}

.form-control {
	border-radius: 0;
	border-color: #ffff;
 	border-width: 0 0 2px 0;
 	border-style: none none solid none;
 	box-shadow: none;
  border-color: #fff;
  color: #fff;
}
/* WebKit */
.form-control::-webkit-input-placeholder{
  color: #fff;
  }
  /* Firefox 18- */
.form-control:-moz-placeholder{
color: #fff;
}
/* Firefox 19+ */
.form-control::-moz-placeholder{
color: #fff;
}
/* IE 10+ */
.form-control:-ms-input-placeholder{
color: #fff;
}
.form-control:focus {
	box-shadow: none;
	border-color: #fff;
}
.js-hide-label {
	opacity: 0;
}
.js-unhighlight-label {
	color: #fff;
}
.form-group {
    margin-bottom: 30px;
}
.message-input{
  margin-top: -8px;
}
.btn-start-order {
	background-color: #c42032;
    border-radius: 50px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: inherit;
    margin-top: 7px;
    padding: 10px 30px;
    text-transform: uppercase;
    transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
	border-color: #fff;
	color: #fff;
}

/*footer*/
hr{
  border-top: 1px solid #2c2c2c;
}
.footer-services hr, .footer-clinic hr{
  padding-right: 17vw;
}
.footer-helping hr{
  padding-right: 30vw;
}
.footer{
  background-color: #393939;
}
.footer-position{
  display: flex;
  justify-content: space-around;
}
.footer-services, .footer-clinic, .footer-helping{
  margin-top: 40px;
}
.footer-position a{
  color: #c2c2c2;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
.footer-position h5{
  color: #157ea1;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
}
.footer-helping-xs{
  display: none;
}
.footer-helping h5, .footer-helping-xs h5{
  color: #c2c2c2;
  font-family: 'Lato', sans-serif;
}

.footer-helping span, .footer-helping-xs span{
  color: #157ea1;
  font-family: 'Lato', sans-serif;
  margin-left: 7px;
}
.footer-helping i, .footer-helping-xs i{
  color: #157ea1;
  border: 1px solid #2c2c2c;
  padding: 10px;
  border-radius: 50%;
  margin-right: 20px;
}
.footer-helping label, .footer-helping-xs label{
  display: block;
  color: #c2c2c2;
  font-family: 'Lato', sans-serif;
}
i.external-link-i{
  border: 0;
}
.enveloper-hr, .phone-hr, .fax-hr{
  margin-left: 45px;
  margin-top: 0;
}

 i.enveloper-right, i.phone-right, i.fax-right, i.map-right{
  border: 0;
  float: right;
  color: #252525;
}
i.map-right{
  margin-left: auto;
}
.footer-map p{
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  margin-right: 50px;
}
label.footer-map{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-map a{
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
.all-reserved{
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  color: #7a7a7a;
  padding-bottom: 20px;
}
.footer-clinic{
  border-left: 1px solid #2c2c2c;
  padding-left: 5%;
}
.footer-helping{
  border-left: 1px solid #2c2c2c;
  padding-left: 2%;
}
.footer-helping a, .footer-helping-xs a{
  color: #337ab7;
  font-size: 14px;
  text-decoration: none;
}


@media (max-width:1150px) {
  .nav > li > a {
    padding: 11px .5vw;
  }
}
@media (max-width:995px) {
  .workers-why-us {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
  }
  .why-us-p{
    margin-top: 0;
    margin-right: 50px;
  }
  #myCarousel{
    display: block;
  }
  .places{
    display: none;
  }
  .logos-position img{
    width: 20%;
  }
  .footer-helping{
    display: none;
  }
  .footer-helping-xs{
    display: block;
    padding: 10px 50px;
  }
}

@media (max-width: 768px) {
  .cont-logo-medias>img{
    display: block;
    margin: 0 auto;
  }
  .xs-icon-nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  .xs-icon-nav i{
    color: #fff;
  }
  .nav > li > a{
    padding: 11px 20vw;
  }
  .lorem-p{
    width: 90%;
    margin: 0 auto;
  }
  .lorem-img{
    margin-top: 0;
  }
}
@media (max-width: 650px) {
  .footer-helping-xs .footer-map{
  display: block;
  }
  .all-reserved{
    font-size: 2vw;
  }
  .logos{
    margin-top: 15vw;
  }
}
@media (max-width: 450px) {
  .footer-helping-xs .footer-map-xs-a{
    font-size: 2.3vw;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
   /* Safari 3.0 and Opera 9 rules here */
   .footer-position{
     margin: 0 10px;
   }
   .xs-phone-contact a{
     color: #fff;
 }
 @media (max-width: 345px) {
   .xs-phone-contact a{
     font-size: 12px;
   }
   .footer-services h5, .footer-clinic h5{
    font-size: 12px;
   }
 }
}
